body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  min-height: 100vh;
  padding: 20px;
  background-image: url(./picture2.jpeg);
}

div {
  margin: 15px;

  p {
    margin-bottom: 10px;
  }
}

button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 9px;
  background-color: black;
  color: white;
  font-weight: 500;
}

div.register input {
  width: 150px;
  height: 20px;
  display: flex;
  flex-direction: column;
}

#log {
  width: 300px;
  height: 30px;
}

h3.login {
  margin-top: 30px;
}

form {
  font-weight: 600;
}
