body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.gradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(237, 0, 134, 1) 0%,
    rgba(72, 53, 219, 1) 60%,
    rgba(224, 27, 9, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 600px;
  height: 300px;
  background-color: rgb(232, 245, 244);
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
}
