body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.gradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(237, 0, 134, 1) 0%,
    rgba(72, 53, 219, 1) 60%,
    rgba(224, 27, 9, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 600px;
  height: 300px;
  background-color: rgb(232, 245, 244);
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
  padding: 40px;
}

p {
  margin-top: 30px;
  margin-bottom: 50px;
}

a.button {
  width: 400px;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  font-size: 17px;
  display: inline-block;
  line-height: 60px;
  text-decoration: none;
  cursor: pointer;
}

a.button:hover {
  background-color: rgb(45, 44, 44);
}
